html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


html {
  min-height: 100%;
  background-image: url(2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.p1 {

  margin-left: 320px;
  justify-content: center;
  font-size: 80px;
  color: aliceblue;
}

.footage {
  color: aliceblue;
  position: absolute;
  bottom: 90;
  left: 50%;

}